.source-card-container {
  width: 100%;
  max-width: 480px;
  height: 100%;
  justify-self: center;
  display: flex;
  flex-flow: column;
  overflow: hidden;

  .source-thumbnail {
    width: 100% !important;
    height: auto !important;
    aspect-ratio: 3/2;
    object-fit: cover;
  }
}

.source-list-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  width: 100%;
  margin-top: 20px;
}

@include media-breakpoint-up(md) {
  .source-card-container {
    .source-thumbnail {
      aspect-ratio: 5/3;
    }
  }

  .source-list-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}
